<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
<head lang="pl">
    <title>Testownik</title>

</head>

<main class="light-green darken-2">
    <ul class="right hide-on-med-and-down" layout:fragment="navButtons">
        <li><a class="waves-effect waves-light btn">zaloguj</a></li>
        <li><a class="waves-effect waves-light btn" href="../registrationPage">zarejestruj</a></li>
    </ul>
    <div class="row" layout:fragment="content">
        <div class="col s6 offset-s3 card-panel teal lighten-1 z-depth-4 ">
<span class="grey-text text-darken-3">
<div style="text-align: center;"><b><span style="font-size: x-large; ">Witaj w testowniku!</span></b></div>
</span>
</div>
<div style="text-align: center;">
    <a class="col s2 offset-s5 waves-effect waves-light btn">Zacznij tworzyć testownik!</a>
    </div>
    </div>
    
</main>
</html>
