<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="pl">
    <title>Strona główna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initialscale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/materialize.css" th:href="@{/css/materialize.css}"
          media="screen,projection"/>
</head>

<main class="light-green darken-2">

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><img src="../static/graphics/logo.png" th:href="@{/graphics/logo.png}"
                                                     width="176" height="42" alt=""/></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="waves-effect waves-light btn">zaloguj</a></li>
                    <li><a class="waves-effect waves-light btn">zarejestruj</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Tutaj zaczyna się treść maina-->

    <div class="row">
        <form th:action="@{/profile}" th:object="${profileForm}"  method="post"  class="col s6 offset-s3">
            <div class="row">
                <div class="input-field col s6">
                    <input th:field="${profileForm.nick}"  id="nick" type="text" class="validate"/>
                    <label for="nick">Nazwa użytkownika</label>
                </div>
                <div class="input-field col s6">
                    <input th:field="${profileForm.email}" id="email" type="email" class="validate"/>
                    <label for="email">E-mail</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input th:field="${profileForm.password}" id="password" type="password" class="validate"/>
                    <label for="password">Hasło</label>
                </div>
            </div>
            <div class="row s12">
                    <button class="btn waves-effect waves-light" type="submit" name="save">
                        Wyślij
                        <i class="mdi-content-send right"></i>
                    </button>
            </div>

        </form>
    </div>


    <!--Tutaj kończy się treść maina-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(".dropdown-button").dropdown();
    </script>
    <script type="text/javascript">
        $('button').bind('click', function (e) {
            if (e.currentTarget.name === 'save') {
                $(e.currentTarget.form).removeAttr('novalidate');
            } else {
                $(e.currentTarget.form).attr('novalidate', 'novalidate');
            }
        });
    </script>
</main>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2017 by Tobiasz Rumian
            <a class="grey-text text-lighten-4 right" href="#!">LinkedIn</a>
        </div>
    </div>
</footer>
</html>